[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clinTrialData"]
	path = clinTrialData
	url = https://github.com/lovemore-gakava/clintrialdata
